*{
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Best School', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF5EB; 
    height: 3000px;
}

main {
    padding: 0px;
}

/*lojinha*/

.produtos {

    margin-top: 50px;
    background-size: 1000px 100px;


}


.cards-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
    height: 100vh;
    margin: 0%;
    z-index: 2;
    min-height: 100vh; /* Alterado para ocupar no mínimo a altura da tela */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.container {

    
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly; 
    max-width: 1200px; 
    width: 200%;
    flex-wrap: wrap; 
    align-items: center;

}



.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 325px;
}

.card img {
    width: 85%; /* Define a largura da imagem como 100% do contêiner pai (o card) */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem não tenha espaços em branco abaixo dela */
}



.card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9); 

}

.card-body {
    background-color:#fff;

}

.card-body h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.card-img-top {
    object-fit:fill; 
    height: 400px; 
}

.text-center {

    font-size: 45px;
    font-family: 'Best School', Arial, sans-serif;
    color: #CD784A;
    font-weight: bold;
}

.botao-padrao {
    background-color: #CD784A; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 20px 40px; 
    font-size: 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botao-saiba{

    background-color: #CD784A;
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 20px 40px; 
    font-size: 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botao-padrao:hover {
    background-color: green;
    color: #fff; 
}

.botao-saiba:hover {
    background-color:brown;
    color: #fff; 
}

/*para adicionar as waves*/

/*para adicionar o logo no background(anny)*/
.background-image {
    background-image: url('Site\ Animalão/imagem/logoopaca.png'); 
    background-size: cover; /* Garante que a imagem cubra toda a área disponível */
    background-position: center; /* Centraliza a imagem na tela */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    height: 100vh; /* Ajusta a altura da div para ocupar toda a altura da tela */
    
}

.container2 {
    padding-top: 110px; /* Ajuste conforme necessário para evitar sobreposição do titulo com o cabeçalho */
   
}

/* arrumar a logo do insta para o final do cabeçalho*/
.instagram-logo {
    margin-top: 12px; /* Ajuste conforme necessário */
    position: absolute; /* Posicionamento absoluto */
    bottom: 10px; /* Ajuste a posição conforme necessário */
    right: 4px; /* Ajuste a posição conforme necessário */
}
