*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.faixa{ 
    background-color: #2e7d32; /* Verde escuro para o fundo */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
}

.faixa a {
    margin-bottom:30px;
}