
.minha-div {
    /* margin-top: 70px; */
    background-color: #f0f0f0; /* Apenas para visualização */
    height: 50px; /* Apenas para visualização */
}

/*historia*/

/* Estilos para a imagem e o texto */
.imagem-historia img {
    max-width: 100%;
    height: auto;
}

.texto-historia {
    padding: 0 20px;
    /* font-size: 8px; Reduzindo o tamanho do texto */
}

/* para ajustar em telas menores */
@media (max-width: 767px) {
    .imagem-historia img {
        width: 100%; /* Para telas menores, pra imagem ocupar 100% da largura */
    }

    .texto-historia {
        text-align: center; /* Centraliza o texto em telas menores */
        /* font-size: 4px; Reduz o tamanho do texto em telas menores */
    }
}

.texto-historia h2 {
    color: #09a304; /* Cor dos títulos */
    text-align: center;
}

/* Adicionar espaçamento entre o header_fino e o título "Nossa história" */
#historia1 {
    padding-top: 80px; /* Adiciona espaçamento interno acima do conteúdo */
}

/* ajuste do espaçamento interno entre o título e o texto */
#historia1 h2 {
    margin-bottom: 50px; /* Exemplo de ajuste para o título */
}

/* ajuste do espaçamento interno entre o texto e o rodapé */
#historia1 p {
    margin-bottom: 50px; /* Exemplo de ajuste para o texto */
}





