* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Adicionando body2 para encapsular o novo estilo */
.body2 {
  font-family: Arial, sans-serif;
  background-color: #fff5eb;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  min-height: 85vh;
}

.body2 .menu {
  text-align: center;
  margin-bottom: 20px;
}

.body2 .menu button {
  background-color: #eb9a66;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.body2 .menu button:hover {
  background-color: #d86f4a;
}

.body2 .titulo {
  text-align: center; /* Centraliza o texto dentro do container */
  margin-bottom: 30px; /* Espaço entre o título e o carrossel */
}

.body2 .titulo h3 {
  font-family: 'Chewy', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 38px; /* Tamanho do texto */
  font-weight: bold; /* Negrito */
  color: #eb9a66; /* Cor */
  margin: 0; /* Remove margens adicionais se necessário */
}

.body2 .titulo p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px; /* Tamanho do texto */
  font-weight: bold;
  color: #666; /* Cor */
  margin: 0; /* Remove margens adicionais se necessário */
}

.body2 .slides {
  display: none; /* Todos os slides começam escondidos */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.body2 .slides img {
  width: 100%; /* Garantir que a imagem ocupe toda a largura disponível */
  height: auto; /* Manter a proporção da imagem */
  display: block; /* Remove o espaço abaixo da imagem causado pelo comportamento inline */
  object-fit: cover; /* Ajusta o conteúdo da imagem para caber no container */
}

.body2 .slides .title {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
  color: #333;
}

.body2 .slides .content {
  font-size: 18px;
  margin-top: 8px;
  color: #666;
  padding: 0 13px; /* Margem interna para que o texto tenha espaço */
}

.body2 .container-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 400px;
  height: 600px;
  padding: 32px;
  border-radius: 32px;
}

.body2 .prev-new {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: #D41D1D;
  text-decoration: none;
}

.body2 .prev-text {
  margin-top: 4px;
}

.body2 .title {
  font-size: 28px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.body2 .content {
  width: 200px;
  text-align: center;
}

.body2 .footer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.body2 .button {
  background-color: #eb9a66;
  color: #fff;
  width: 200px;
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 999px;
}

.body2 .dot-box {
  text-align: center;
}

.body2 .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #c1c1c1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .6s ease;
}

.body2 .active, body2 .dot:hover {
  background-color: #eb9a66;
}

.body2 .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

@keyframes fade {
  from {opacity: 0.2;}
  to {opacity: 1;}
}
